button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 1em;
  font-size: 1em;
  border-radius: var(--border-radius);
  cursor: pointer;

  transition: 0.2s;

  &:hover {
    background-color: var(--primary-light);
  }

  &:active {
    transform: scale(0.95);
  }
}
