.success {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  gap: 3em;
  align-items: center;
}

.success h2 {
  font-size: 3em;
  text-align: center;
}

.success a {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 1em;
  font-size: 1em;
  border-radius: var(--border-radius);
  cursor: pointer;

  transition: 0.2s;

  &:hover {
    background-color: var(--primary-light);
  }

  &:active {
    transform: scale(0.95);
  }
}
